In [4]:
condition = True

if condition:
  x = 1
else:
  x = 0
print(x)

1

In [5]:
# Using Ternary Conditionals

x = 1 if condition else 0
print(x)

1

In [14]:
# Underscore Placeholders for large numbers

num1 = 10000000000
num2 = 100000000
Total1 = num3 + num4
print("Total1 = ",Total1)

# underscore won't affect the programm anyway
num3 = 10_000_000_000
num4 = 100_000_000

Total2 = num1 + num2
print("Total2 = ",Total2)

# To add commas in output use f string
Total3 = Total2

print(f'{Total3:,}')

Total1 =  10100000000
Total2 =  10100000000
10,100,000,000

In [21]:
# Enumerate Function

names = ['Shreyas', 'Chris', 'Dev', 'Vinod']
index = 0
for name in names:
  print(index,name)
  index += 1

0 Shreyas
1 Chris
2 Dev
3 Vinod

In [23]:
for index, name in enumerate(names):
  print(index,name)

0 Shreyas
1 Chris
2 Dev
3 Vinod

In [24]:
# To change the start index
for index, name in enumerate(names, start = 10):
  print(index,name)

10 Shreyas
11 Chris
12 Dev
13 Vinod

In [25]:
names = ['Peter Parker', 'Clark Kent', 'Wade Wilson', 'Bruce Wayne']
heros = ['Spiderman', 'Superman', 'Deadpool', 'Batman']

# usual way
for index, name in enumerate(names):
  hero = heros[index]
  print(name, 'is actually',hero)

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually Deadpool
Bruce Wayne is actually Batman

In [26]:
# using Zip  functions
for name, hero in zip(names, heros):
  print(f'{name} is actually {hero}')

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually Deadpool
Bruce Wayne is actually Batman

In [29]:
# use * to assign remaining values to last variable
a, b, *c = (1,2,3,4,5)
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

In [30]:
# use _ to ignore remaining values
a, b, *_ = (1,2,3,4,5)
print(a)
print(b)

1
2

In [31]:
a, b, *c, d = (1,2,3,4,5)
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4]
5

In [33]:
a, b, *_, d = (1,2,3,4,5)
print(a)
print(b)
print(d)

1
2
5

In [1]:
username = input("Username: ")
password = input("Password: ")

print("Logging in...")

# here you can see that password is shown

Username: Shreyas
Password: ABCuihfu
Logging in...

In [2]:
from getpass import getpass

username = input("Username: ")
password = getpass("Password: ")

print("Logging in...")

# password is hidden

Username: Shreyas
Password: ··········
Logging in...

In [12]:
import re

# dir(re) # what attribute and methods are available in object
# help(re.sub)  # to get help about modules

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.